# Logs from Ansible playbook "apt-get.yml"
# Date: {{ my_date }}
# Hostname: {{ inventory_hostname }}
#########################################################
{{ _result_update_display }}
#########################################################