# Deploy new mysql-server on {{ inventory_hostname }}

Documentation of new server:

Mysql version : {{ mysql_version }}

## How to connect to mysql :

User {{ mysql_user }}

### Where to find password :