version: '3'
services:

{% for port in range(0, nb_student|int ) %}

  ansibleworker_{% if port < 10 %}220{{ port }}{% else %}22{{ port }}{% endif %}:

    image: tinion/formation-ansible:latest

    container_name: ansibleworker_{% if port < 10 %}220{{ port }}{% else %}22{{ port }}{% endif %}

    networks:
      - formationansible

    ports:
      - "{% if port < 10 %}220{{ port }}{% else %}22{{ port }}{% endif %}:22"

  ansibletarget_{% if port < 10 %}220{{ port }}{% else %}22{{ port }}{% endif %}:

    image: tinion/ansible-target

    container_name: ansibletarget_{% if port < 10 %}220{{ port }}{% else %}22{{ port }}{% endif %}

    networks:
      - formationansible

    ports:
      - "{% if port < 10 %}22{{ port + nb_student|int }}{% else %}22{{ port + nb_student|int }}{% endif %}:22"
    
{% endfor %}

networks:
  formationansible: